.centered_content {
  display: table-cell;
  border: 1px solid #0f0f0f;
  width:70%;
  margin: auto;
  padding: 20px;
}

.new_post_label {

}

.subject_field {
  margin-top: 25px;
  margin-bottom: 25px;
}

.subject_field input {
  width: 350px;
}

.new_post_info {
  display: table;
  width: 100%;
}

.avatar_cell {
  display: table-cell;
  width: 176px;
}

.after_avatar {
  display: table-cell;
}
